/*

Table of content:

1.HEADER
  1.1 Bottoni

2.MAIN
  2.1 Zoom Card

3.FOOTER
  3.1 left & center button
  3.2 right button

*/




/*
1.HEADER
*/

header{
  background-color: black;

  justify-content: flex-end;

  height: 50px;
  padding-right: 10px;
}


/* 1.1 Bottoni  */

.speaker-view-button, .expand-button{
  background-color: rgb(220,220,220, 0.3);
  color: white;

  border-radius: 5px;

  padding: 2px 7px;
  margin-right: 5px;

  cursor: pointer;
}




/*
2.MAIN
*/

main{
  background-color: black;

  height: calc(100vh - 130px);
  padding: 20px 50px;

  overflow: scroll;
}


/* 2.1 Zoom card */

.zoom-profile-container{
  position: relative;

  width: 250px;
  height: 150px;

  border: 1px solid black;
  margin-right: 5px;
  margin-bottom: 5px;

}

.zoom-name-container{
  position: absolute;
  bottom: 0;

  background-color: rgb(0, 0, 0, 0.5);

  color: white;

  padding: 4px 8px;
}




/*
3.FOOTER
*/

footer{
  background-color: #222222;
  height: 80px;

  padding-left: 15px;

  justify-content: space-between;
}

footer .fa-solid{
  font-size: 25px;
  margin-bottom: 5px;
}

footer .fa-chevron-up{
  font-size: 10px;
}


/* 3.1 left & center button */


.left-button, .center-button{
  color: white;
  text-align: center;
}

.footer-button-container{
  margin-right: 15px;
  flex-shrink: 0;
}


/* right button */

.right-button{
  color: red;
  background-color: #4A4A4A;

  padding: 30px 15px;
  cursor: pointer;
}